<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" ng-app="solar_app">

<head>
    <meta charset="utf-8">
    <title>LÊ HÙNG - Cung cấp thiết bị năng lượng mặt trời</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <div th:replace="~{views/user/lib/link_lib}"></div>
</head>
<body>
<!-- Spinner Start -->
<div th:replace="~{views/user/components/spiner}"></div>
<!-- Spinner End -->


<!-- Topbar Start <div th:replace="~{views/user/components/topbar}"></div> -->

<!-- Topbar End -->


<!-- Navbar Start -->
<div th:replace="~{views/user/components/navbar}"></div>
<!-- Navbar End -->

<!--main-->
<ng-view></ng-view>
<!--main-->

<!-- Footer Start -->
<div th:replace="~{views/user/components/footer}"></div>
<!-- Footer End -->


<!-- JavaScript Libraries -->
<div th:replace="~{views/user/lib/script_lib}"></div>

</body>
</html>