<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5">
    <div class="container py-5">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Lịch sử đặt hàng</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-white" href="#!/trang-chu" scroll-to-top>Trang Chủ</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="#!/lich-su-mua-hang" scroll-to-top>
                    Lịch sử mua hàng</a></li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->


<!-- Contact Start -->
<div class="container-fluid bg-light overflow-hidden px-lg-0" style="margin: 6rem 0;">
    <div class="container px-lg-0">
        <div class="row g-0 mx-lg-0">
            <div class="col-lg-12 py-5 wow fadeIn" data-wow-delay="0.5s">
                <h4 class="text-center">Lịch sử mua hàng - khách hàng {{users.fullname}}</h4>

                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" ng-class="{ 'active': activeTab === 'confirm' }" href="javascript:void(0)"
                           ng-click="setActiveTab('confirm')">
                            Chờ xác nhận
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ng-class="{ 'active': activeTab === 'deliver' }" href="javascript:void(0)"
                           ng-click="setActiveTab('deliver')">
                            Đang vận chuyển
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ng-class="{ 'active': activeTab === 'delivered' }" href="javascript:void(0)"
                           ng-click="setActiveTab('delivered')">
                            Đã giao
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ng-class="{ 'active': activeTab === 'cancelled' }" href="javascript:void(0)"
                           ng-click="setActiveTab('cancelled')">
                            Đã huỷ
                        </a>
                    </li>
                </ul>

                <div ng-show="activeTab === 'confirm'" class="table-responsive mt-4">
                    <table class="table" id="table-confirm">
                        <thead class="thead-inverse">
                        <tr>
                            <th>#</th>
                            <th>Mã đơn hàng</th>
                            <th>Tên khách hàng</th>
                            <th>Số điện thoại</th>
                            <th>Địa chỉ</th>
                            <th>Trạng thái đơn hàng</th>
                            <th>Hình thức thanh toán</th>
                            <th>Chi tiết</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="order in history_order" ng-if="order.orderStatus == 'Chờ xác nhận'">
                            <td>{{$index + 1}}</td>
                            <td style="width: 15%">{{order.id}}</td>
                            <td>{{order.toName}}</td>
                            <td>{{order.toPhone}}</td>
                            <td>{{order.toProvince}}</td>
                            <td style="width: 14%">{{order.orderStatus}}</td>
                            <td style="width: 20%">
                                {{order.paymentType ? 'Thanh toán khi nhận hàng' : 'Thanh toán qua ví VNPAY'}}
                            </td>
                            <td>
                                <a href="javascript:void(0)" class="show-info" ng-click="getInfoOrder(order.id)"
                                   data-bs-toggle="modal"
                                   data-bs-target="#modal-confirm-data">
                                    Xem chi tiết
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <h6 class="text-center text-secondary mb-5" ng-if="!history_order || history_order.length === 0">
                        Bạn chưa có lịch sử mua hàng, nhấn <a href="#!/san-pham" scroll-to-top>vào đây</a> để mua hàng
                    </h6>
                </div>

                <div ng-show="activeTab === 'deliver'" class="table-responsive mt-4">
                    <table class="table" id="table-deliver">
                        <thead class="thead-inverse">
                        <tr>
                            <th>#</th>
                            <th>Mã đơn hàng</th>
                            <th>Tên khách hàng</th>
                            <th>Số điện thoại</th>
                            <th>Địa chỉ</th>
                            <th>Trạng thái đơn hàng</th>
                            <th>Hình thức thanh toán</th>
                            <th>Cụ thể</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="order in history_order" ng-if="order.orderStatus == 'Đang vận chuyển'">
                            <td>{{$index + 1}}</td>
                            <td style="width: 15%">{{order.id}}</td>
                            <td>{{order.toName}}</td>
                            <td>{{order.toPhone}}</td>
                            <td>{{order.toProvince}}</td>
                            <td style="width: 14%">{{order.orderStatus}}</td>
                            <td style="width: 20%">
                                {{order.paymentType ? 'Thanh toán khi nhận hàng' : 'Thanh toán qua ví VNPAY'}}
                            </td>
                            <td>
                                <a href="javascript:void(0)" class="show-info" ng-click="getInfoOrder(order.id)"
                                   data-bs-toggle="modal"
                                   data-bs-target="#modal-confirm-data">
                                    Xem chi tiết
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <h6 class="text-center text-secondary mb-5" ng-if="!history_order || history_order.length === 0">
                        Bạn chưa có lịch sử mua hàng, nhấn <a href="#!/san-pham" scroll-to-top>vào đây</a> để mua hàng
                    </h6>
                </div>

                <div ng-show="activeTab === 'delivered'" class="table-responsive mt-4">
                    <table class="table" id="table-delivered">
                        <thead class="thead-inverse">
                        <tr>
                            <th>#</th>
                            <th>Mã đơn hàng</th>
                            <th>Tên khách hàng</th>
                            <th>Số điện thoại</th>
                            <th>Địa chỉ</th>
                            <th>Trạng thái đơn hàng</th>
                            <th>Hình thức thanh toán</th>
                            <th>Cụ thể</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="order in history_order" ng-if="order.orderStatus == 'Đã giao hàng'">
                            <td>{{$index + 1}}</td>
                            <td style="width: 15%">{{order.id}}</td>
                            <td>{{order.toName}}</td>
                            <td>{{order.toPhone}}</td>
                            <td>{{order.toProvince}}</td>
                            <td style="width: 14%">{{order.orderStatus}}</td>
                            <td style="width: 20%">
                                {{order.paymentType ? 'Thanh toán khi nhận hàng' : 'Thanh toán qua ví VNPAY'}}
                            </td>
                            <td>
                                <a href="javascript:void(0)" class="show-info" ng-click="getInfoOrder(order.id)"
                                   data-bs-toggle="modal"
                                   data-bs-target="#modal-confirm-data">
                                    Xem chi tiết
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <h6 class="text-center text-secondary mb-5" ng-if="!history_order || history_order.length === 0">
                        Bạn chưa có lịch sử mua hàng, nhấn <a href="#!/san-pham" scroll-to-top>vào đây</a> để mua hàng
                    </h6>
                </div>

                <div ng-show="activeTab === 'cancelled'" class="table-responsive mt-4">
                    <table class="table" id="table-cancelled">
                        <thead class="thead-inverse">
                        <tr>
                            <th>#</th>
                            <th>Mã đơn hàng</th>
                            <th>Tên khách hàng</th>
                            <th>Số điện thoại</th>
                            <th>Địa chỉ</th>
                            <th>Trạng thái đơn hàng</th>
                            <th>Hình thức thanh toán</th>
                            <th>Cụ thể</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="order in history_order" ng-if="order.orderStatus == 'Đã huỷ đơn'">
                            <td>{{$index + 1}}</td>
                            <td style="width: 15%">{{order.id}}</td>
                            <td>{{order.toName}}</td>
                            <td>{{order.toPhone}}</td>
                            <td>{{order.toProvince}}</td>
                            <td style="width: 14%">{{order.orderStatus}}</td>
                            <td style="width: 20%">
                                {{order.paymentType ? 'Thanh toán khi nhận hàng' : 'Thanh toán qua ví VNPAY'}}
                            </td>
                            <td>
                                <a href="javascript:void(0)" class="show-info" ng-click="getInfoOrder(order.id)"
                                   data-bs-toggle="modal"
                                   data-bs-target="#modal-confirm-data">
                                    Xem chi tiết
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <h6 class="text-center text-secondary mb-5" ng-if="!history_order || history_order.length === 0">
                        Bạn chưa có lịch sử mua hàng, nhấn <a href="#!/san-pham" scroll-to-top>vào đây</a> để mua hàng
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->

<!-- Modal -->
<div class="modal fade" id="modal-confirm-data" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="font-weight: bold" id="exampleModalLabel">
                    ĐƠN HÀNG - {{order.id}}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="row">
                <div class="col-6 col-lg-6">
                    <div class="modal-body w-100">
                        <div class="mb-3">
                            <label class="form-label fs-5 text-primary">Thông tin đơn hàng:</label>
                            <p class="form-control-plaintext">
                                <strong>Mã đơn hàng:</strong>
                                <span class="float-end">{{order.id}}</span>
                            </p>
                            <p class="form-control-plaintext">
                                <strong>Trạng thái đơn hàng:</strong>
                                <span class="float-end">{{order.orderStatus}}</span>
                            </p>
                            <p class="form-control-plaintext">
                                <strong>Trạng thái thanh toán:</strong>
                                <span class="float-end">
                                {{
                                    order.paymentStatus === 0 ? 'Chưa thanh toán' :
                                            order.paymentStatus === 1 ? 'Đã thanh toán' :
                                                    order.paymentStatus === 2 ? 'Thanh toán thất bại' : 'Trạng thái không xác định'
                                    }}
                                </span>
                            </p>
                            <p class="form-control-plaintext">
                                <strong>Hình thức thanh toán:</strong>
                                <span class="float-end">{{order.paymentType ? 'Thanh toán khi nhận hàng' : 'Thanh toán qua ví VNPAY'}}</span>
                            </p>
                            <p class="form-control-plaintext">
                                <strong>Thời gian đặt hàng:</strong>
                                <span class="float-end">{{order.dateCreated | vietnameseDateTime}}</span>
                            </p>
                            <p class="form-control-plaintext">
                                <strong>Thời gian thanh toán:</strong>
                                <span ng-if="order.datePayment" class="float-end">
                                    {{ order.datePayment | vietnameseDateTime }}
                                </span>
                                <span ng-if="!order.datePayment" class="float-end">Chưa xác định thời gian</span>
                            </p>
                            <p class="form-control-plaintext" ng-if="order.dateReceive === null">
                                <strong>Dự kiến giao hàng:</strong>
                                <span class="float-end">{{order.dateExpected}}</span>
                            </p>
                            <p class="form-control-plaintext"
                               ng-if="order.dateReceive !== null && order.orderStatus === 'Đã giao hàng'">
                                <strong>Thời gian giao hàng:</strong>
                                <span class="float-end">{{order.dateReceive | vietnameseDateTime}}</span>
                            </p>
                            <p class="form-control-plaintext" ng-if="order.orderStatus === 'Đã huỷ đơn'">
                                <strong>Thời gian huỷ đơn:</strong>
                                <span class="float-end">{{order.dateReceive | vietnameseDateTime}}</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-6">
                    <div class="modal-body w-100">
                        <div class="mb-3">
                            <label class="form-label fs-5 text-primary">Thông tin khách hàng:</label>
                            <p class="form-control-plaintext">
                                <strong>Thông tin khách hàng:</strong>
                                <br>
                                {{order.toName}} - {{order.toPhone}}
                            </p>
                            <p class="form-control-plaintext">
                                <strong>Email nhận hoá đơn:</strong>
                                <br>
                                {{order.toEmail}}
                            </p>
                            <p class="form-control-plaintext">
                                <strong>Địa chỉ nhận hàng:</strong>
                                <br>
                                {{order.toAddress + ', ' + order.toWard + ', ' + order.toDistrict + ', ' + order.toProvince}}
                            </p>
                            <p class="form-control-plaintext" ng-if="order.orderStatus !== 'Đã huỷ đơn'">
                                <strong>Thông tin ghi chú:</strong>
                                <br>
                                {{order.orderNote ? order.orderNote : 'Không có thông tin ghi chú.'}}
                            </p>
                            <p class="form-control-plaintext" ng-if="order.orderStatus === 'Đã huỷ đơn'">
                                <strong>Lí do huỷ đơn:</strong>
                                <br>
                                {{order.orderNoteCancelled}}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-12">
                    <table id="table-modal"
                           class="table table-striped table-inverse table-responsive table-bordered">
                        <thead class="thead-inverse">
                        <tr>
                            <th>#</th>
                            <th>Tên sản phẩm</th>
                            <th>Đơn giá</th>
                            <th>Số lượng</th>
                            <th>Tổng tiền</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="data in combinedData">
                            <td>{{$index + 1}}</td>
                            <td>
                                <a href="javascript:void(0)" ng-click="redirectProduct(data.product.id)">
                                    {{data.product.productName}}
                                </a>
                            </td>
                            <td>{{formatPrice(data.product.price)}} ₫</td>
                            <td>{{data.orderItem.quantity}}</td>
                            <td>{{formatPrice(data.product.price * data.orderItem.quantity)}} ₫</td>
                        </tr>
                        </tbody>
                    </table>
                    <h6 class="d-flex justify-content-end mx-4">Tạm tính:&ensp;
                        <span>{{formatPrice(subTotal)}} ₫</span>
                    </h6>
                    <h6 class="d-flex justify-content-end mx-4">Giảm giá:&ensp;
                        <span>{{formatPrice(discountCost)}} ₫</span>
                    </h6>
                    <h6 class="d-flex justify-content-end mx-4">Phí vận chuyển:&ensp;
                        <span>{{formatPrice(shippingFee)}} ₫</span>
                    </h6>
                    <h6 class="d-flex justify-content-end mx-4">
                        <strong>
                            Tổng thanh toán:&ensp;
                            <span>{{formatPrice(totalAmount)}} ₫</span>
                        </strong>
                    </h6>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" ng-if="order.orderStatus == 'Đã giao hàng' || order.orderStatus == 'Đã huỷ đơn'"
                        ng-click="repurchase(order.id)" class="btn btn-success rounded-0">
                    Mua lại
                </button>
                <button type="button" ng-if="order.orderStatus == 'Chờ xác nhận'" ng-click="cancelOrder()"
                        class="btn btn-secondary rounded-0">
                    Huỷ đơn
                </button>
                <button type="button" class="btn btn-danger rounded-0" data-bs-dismiss="modal">Thoát</button>
            </div>
        </div>
    </div>
</div>


<!-- Cancellation Confirmation Modal -->
<div class="modal fade" id="modal-confirm-cancellation" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cancelOrderReason">Lý Do Huỷ - {{order.id}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-check">
                    <input class="form-check-input"
                           type="radio"
                           name="reason"
                           ng-model="selectedReason"
                           id="reason1"
                           value="Tôi muốn cập nhật địa chỉ / số điện thoại nhận hàng"
                           ng-change="checkOtherOption()"
                    >
                    <label class="form-check-label" for="reason1">
                        Tôi muốn cập nhật địa chỉ / số điện thoại nhận hàng.
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input"
                           type="radio"
                           name="reason"
                           ng-model="selectedReason"
                           id="reason2"
                           value="Tôi muốn thêm / thay đổi Mã giảm giá"
                           ng-change="checkOtherOption()"
                    >
                    <label class="form-check-label" for="reason2">
                        Tôi muốn thêm / thay đổi Mã giảm giá.
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input"
                           type="radio"
                           name="reason"
                           ng-model="selectedReason"
                           id="reason3"
                           value="Tôi muốn thay đổi sản phẩm (kích thước, màu sắc, số lượng...)"
                           ng-change="checkOtherOption()"
                    >
                    <label class="form-check-label" for="reason3">
                        Tôi muốn thay đổi sản phẩm (kích thước, màu sắc, số lượng...)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input"
                           type="radio"
                           name="reason"
                           ng-model="selectedReason"
                           id="reason4"
                           value="Thủ tục thanh toán quá rắc rối"
                           ng-change="checkOtherOption()"
                    >
                    <label class="form-check-label" for="reason4">
                        Thủ tục thanh toán quá rắc rối.
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input"
                           type="radio"
                           name="reason"
                           ng-model="selectedReason"
                           id="reason5"
                           value="Tôi tìm thấy chổ mua khác tốt hơn (Rẻ hơn, uy tín hơn, giao nhanh hơn...)"
                           ng-change="checkOtherOption()"
                    >
                    <label class="form-check-label" for="reason5">
                        Tôi tìm thấy chổ mua khác tốt hơn (Rẻ hơn, uy tín hơn, giao nhanh hơn...)
                    </label>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input"
                           type="radio"
                           name="reason"
                           ng-model="selectedReason"
                           id="reason6"
                           value="Tôi không có nhu cầu mua nữa"
                           ng-change="checkOtherOption()"
                    >
                    <label class="form-check-label" for="reason6">
                        Tôi không có nhu cầu mua nữa
                    </label>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input"
                           type="radio"
                           name="reason"
                           ng-model="selectedReason"
                           id="reason7"
                           value="Mục khác..."
                           ng-change="checkOtherOption(selectedReason)">
                    <label class="form-check-label" for="reason7">
                        Mục khác...
                    </label>
                </div>
                <div class="form-floating" ng-show="showAdditionalComments">
                    <textarea class="form-control"
                              placeholder="Để lại bình luận tại đây"
                              id="floatingTextarea2"
                              style="height: 100px"
                              ng-model="additionalComments"
                    ></textarea>
                    <label for="floatingTextarea2">Nhiều hơn</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger rounded-0"
                        ng-click="confirmCancelOrder(order.id, selectedReason, additionalComments)"
                        ng-disabled="!selectedReason && !additionalComments"
                >
                    Xác nhận
                </button>
                <button type="button" class="btn btn-secondary rounded-0" data-bs-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>
