<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5">
    <div class="container py-5">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Thay đổi mật khẩu</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-white" href="#!/trang-chu" scroll-to-top>Trang Chủ</a></li>
                <li class="breadcrumb-item">
                    <a class="text-white" href="javascript:void(0)">Thông tin</a>
                </li>
                <li class="breadcrumb-item">
                    <a class="text-white" href="javascript:void(0)">Đổi mật khẩu</a>
                </li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->


<!-- Login Form Start -->
<div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
    <div class="container feature px-lg-0">
        <div class="row g-0 mx-lg-0">
            <div class="col-lg-8 contact-text py-5 wow fadeIn" data-wow-delay="0.5s">
                <div class="p-lg-5 ps-lg-0">
                    <h6 class="text-primary">Solar Bách Thịnh</h6>
                    <h1 class="mb-4">Thay đổi mật khẩu</h1>
                    <p class="mb-4">Xin chào, bạn đang muốn đổi mật khẩu cho tài khoản của mình. <br>
                        Điều này rất quan trọng để đảm bảo an toàn và bảo vệ thông tin cá nhân của bạn.
                    </p>
                    <!-- from login -->
                    <div class="login border-end">
                        <div class="login__container">
                            <form id="form-changepass" ng-submit="submit_changePass()" method="post"
                                  name="changepassForm">
                                <div class="mb-3">
                                    <label for="currentPass">Mật khẩu hiện tại
                                        <span id="toggleCurrentPassword" class="eye-icon"
                                              ng-click="toggleChangePassword1()">
                                            <i class="fa-solid fa-eye-slash"></i>
                                        </span>
                                    </label>
                                    <input type="password"
                                           class="form-control"
                                           id="currentPass"
                                           name="currentPass"
                                           ng-class="{ 'is-invalid': changepassForm.currentPass.$invalid && changepassForm.currentPass.$touched, 'is-valid': changepassForm.currentPass.$valid && changepassForm.currentPass.$touched }"
                                           ng-minlength="6"
                                           ng-model="users.currentPass"
                                           required
                                           ng-change="checkPasswordMatch()"
                                    >
                                    <small class="text-danger"
                                           ng-show="changepassForm.currentPass.$touched && changepassForm.currentPass.$error.required">
                                        Vui lòng nhập mật khẩu hiện tại !
                                    </small>
                                    <small class="text-danger"
                                           ng-show="changepassForm.currentPass.$error.minlength && changepassForm.currentPass.$dirty">
                                        Mật khẩu cần ít nhất 6 ký tự.
                                    </small>
                                </div>
                                <div class="mb-3">
                                    <label for="newPass">Mật khẩu mới
                                        <span id="toggleNewPassword" class="eye-icon"
                                              ng-click="toggleChangePassword2()">
                                            <i class="fa-solid fa-eye-slash"></i>
                                        </span>
                                    </label>
                                    <input type="password"
                                           class="form-control"
                                           id="newPass"
                                           name="newPass"
                                           ng-class="{ 'is-invalid': changepassForm.newPass.$invalid && changepassForm.newPass.$touched, 'is-valid': changepassForm.newPass.$valid && changepassForm.newPass.$touched }"
                                           ng-minlength="6"
                                           ng-model="users.newPass"
                                           required
                                           ng-change="checkPasswordMatch()"
                                    >
                                    <small class="text-danger"
                                           ng-show="changepassForm.newPass.$touched && changepassForm.newPass.$error.required">
                                        Vui lòng nhập mật khẩu mới !
                                    </small>
                                    <small class="text-danger"
                                           ng-show="changepassForm.newPass.$error.minlength && changepassForm.newPass.$dirty">
                                        Mật khẩu cần ít nhất 6 ký tự.
                                    </small>
                                    <small class="text-danger"
                                           ng-show="changepassForm.newPass.$touched && passwordMatchError">
                                        Mật khẩu mới không được trùng với mật khẩu hiện tại!
                                    </small>
                                </div>
                                <div class="mb-3">
                                    <label for="confirmPass">Xác nhận mật khẩu mới
                                        <span id="toggleConfirmPassword" class="eye-icon"
                                              ng-click="toggleChangePassword3()">
                                            <i class="fa-solid fa-eye-slash"></i>
                                        </span>
                                    </label>
                                    <input type="password" class="form-control"
                                           id="confirmPass"
                                           name="confirmPass"
                                           ng-class="{ 'is-invalid': changepassForm.confirmPass.$invalid && changepassForm.confirmPass.$touched, 'is-valid': changepassForm.confirmPass.$valid && changepassForm.confirmPass.$touched }"
                                           ng-pattern="users.newPass"
                                           ng-minlength="6"
                                           ng-model="users.confirmPass"
                                           required>
                                    <small class="text-danger"
                                           ng-show="changepassForm.confirmPass.$touched && changepassForm.confirmPass.$error.required">
                                        Vui lòng xác thực mật khẩu !
                                    </small>
                                    <small class="text-danger"
                                           ng-show="changepassForm.confirmPass.$touched && changepassForm.confirmPass.$error.pattern">
                                        Xác nhận mật khẩu không khớp.
                                    </small>
                                    <small class="text-danger"
                                           ng-show="changepassForm.confirmPass.$touched && changepassForm.confirmPass.$error.minlength">
                                        Mật khẩu cần ít nhất 6 ký tự.
                                    </small>
                                </div>
                                <button type="submit" ng-disabled="changepassForm.$invalid"
                                        id="submit-button-changepass" class="signInButton">
                                    Xác nhận
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pe-lg-0 wow fadeIn" data-wow-delay="0.5s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <div class=" d-flex justify-content-center flex-column h-100">
                        <a href="#!/thong-tin" class="mb-3">Nhấn vào đây để xem thông tin cá nhân</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Login Form End -->
