<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Solar Bách Thịnh - Hình Ảnh</title>

    <div th:replace="~{views/admin/lib/link_lib}"></div>
</head>
<body>

<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">

    <!-- Sidebar Start -->
    <div th:replace="~{views/admin/components/aside}"></div>
    <!--  Sidebar End -->

    <div class="body-wrapper">
        <!--  Header Start -->
        <div th:replace="~{views/admin/components/header}"></div>
        <!--  Header End -->
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title fw-semibold mb-4 mt-2">Cập nhật hình ảnh sản phẩm</h5>
                    <div class="card">
                        <div class="card-body">
                            <form method="post" enctype="multipart/form-data">

                                <div class="form-floating mb-3">
                                    <select class="form-select" id="productSelectImage" onchange="redirectToProduct()"
                                            aria-label="Floating label select example" name="productId">
                                        <option> ------ Vui lòng chọn sản phẩm -------</option>
                                        <option></option>
                                    </select>
                                    <label for="productSelectImage">Chọn sản phẩm</label>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <label class="drop-container">
                                            <input type="file" accept=".jpg, .jpeg, .png" name="file01"
                                                   onchange="previewImage(event, 'imagePreview1', 'drop-title1', 'dropImageProduct1')">
                                            <div class="file-icon"></div>
                                            <div class="drop-title" id="drop-title1">Nhấn để tải ảnh lên...</div>
                                            <div class="image-show">
                                                <img class="image-preview" id="imagePreview1" src="#"
                                                     alt="Image Preview">
                                            </div>
                                        </label>
                                    </div>

                                    <div class="col-lg-6">
                                        <label class="drop-container">
                                            <input type="file" accept=".jpg, .jpeg, .png" name="file02"
                                                   onchange="previewImage(event, 'imagePreview2', 'drop-title2', 'dropImageProduct2')">
                                            <div class="file-icon"></div>
                                            <div class="drop-title" id="drop-title2">Nhấn để tải ảnh lên...</div>
                                            <div class="image-show">
                                                <img class="image-preview" id="imagePreview2" src="#"
                                                     alt="Image Preview">
                                            </div>
                                        </label>
                                    </div>


                                    <div class="col-lg-6">
                                        <label class="drop-container">
                                            <input type="file" accept=".jpg, .jpeg, .png" name="file03"
                                                   onchange="previewImage(event, 'imagePreview3', 'drop-title3', 'dropImageProduct3')">
                                            <div class="file-icon"></div>
                                            <div class="drop-title" id="drop-title3">Nhấn để tải ảnh lên...</div>
                                            <div class="image-show">
                                                <img class="image-preview" id="imagePreview3" src="#"
                                                     alt="Image Preview">
                                            </div>
                                        </label>
                                    </div>

                                    <div class="col-lg-6">
                                        <label class="drop-container">
                                            <input type="file" accept=".jpg, .jpeg, .png" name="file04"
                                                   onchange="previewImage(event, 'imagePreview4', 'drop-title4', 'dropImageProduct4')">
                                            <div class="file-icon"></div>
                                            <div class="drop-title" id="drop-title4">Nhấn để tải ảnh lên...</div>
                                            <div class="image-show">
                                                <img class="image-preview" id="imagePreview4" src="#"
                                                     alt="Image Preview">
                                            </div>
                                        </label>
                                    </div>
                                </div>

                                <div class="row d-flex flex-column flex-md-row mt-3">
                                    <div class="col-md-6">
                                        <div class="d-grid gap-2 d-md-block">
                                            <button class="btn btn-success" type="submit">Cập nhật</button>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                            <a href="/admin/danh-sach-thuong-hieu" class="btn btn-danger" role="button">
                                                Trở về
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{views/admin/lib/script_lib}"></div>

</body>
</html>