<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5">
    <div class="container py-5">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Mật khẩu mới</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-white" href="#!/trang-chu" scroll-to-top>Trang Chủ</a></li>
                <li class="breadcrumb-item">
                    <a class="text-white" href="#!/dang-nhap" scroll-to-top>Quên mật khẩu</a>
                </li>
                <li class="breadcrumb-item">
                    <a class="text-white" href="#!/dang-nhap" scroll-to-top>Mật khẩu mới</a>
                </li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->


<!-- Login Form Start -->
<div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
    <div class="container feature px-lg-0">
        <div class="row g-0 mx-lg-0">
            <div class="col-lg-8 contact-text py-5 wow fadeIn" data-wow-delay="0.5s">
                <div class="p-lg-5 ps-lg-0">
                    <h6 class="text-primary">Solar Bách Thịnh</h6>
                    <h1 class="mb-4">Tạo Mật Khẩu Mới</h1>
                    <div class="step_form" style="color: grey;">
                        <p>
                            <Strong class="text-info">1</Strong>
                            <strong>. Nhập địa chỉ Email và hệ thống của sẽ
                                gửi cho bạn một mã OTP vào email.</strong>
                            <br>
                            <Strong class="text-info">2</Strong>
                            <strong>. Nhập mã OTP đã nhận được ở email của bạn.</strong>
                            <br>
                            <Strong class="text-info">3</Strong>
                            <strong class="text-danger">. Tạo một mật khẩu mới.</strong>
                        </p>
                    </div>
                    <!-- from login -->
                    <div class="login border-end">
                        <div class="login__container">
                            <form id="form-newpass" ng-submit="submitNewPassword()" method="post" name="newPassForm">
                                <div class="mb-3">
                                    <label for="newPassword">Mật Khẩu
                                        <span id="toggleNewPassword" class="eye-icon" ng-click="toggleNewPass()"><i
                                                class="fa-solid fa-eye-slash"></i></span>
                                    </label>
                                    <input type="password"
                                           class="form-control"
                                           id="newPassword"
                                           name="newPass"
                                           ng-class="{ 'is-invalid': newPass.newPassInput.$invalid && newPass.newPassInput.$touched, 'is-valid': newPass.newPassInput.$valid && newPass.newPassInput.$touched }"
                                           ng-model="users.newPass"
                                           ng-minlength="6"
                                           required
                                    >
                                    <small class="text-danger"
                                           ng-show="newPassForm.newPass.$touched && newPassForm.newPass.$error.required">
                                        Vui lòng nhập mật khẩu !
                                    </small>
                                    <small class="text-danger"
                                           ng-show="newPassForm.newPass.$error.minlength && newPassForm.newPass.$dirty">
                                        Mật khẩu cần ít nhất 6 ký tự.
                                    </small>
                                </div>

                                <div class="mb-3">
                                    <label for="confirmNewPass">Nhập Lại Mật Khẩu
                                        <span id="toggleConfirmNewPassword" class="eye-icon"
                                              ng-click="toggleConfirmNewPass()">
                                        <i class="fa-solid fa-eye-slash"></i></span></label>
                                    <input type="password" class="form-control"
                                           name="confirmPass"
                                           id="confirmNewPass"
                                           ng-class="{ 'is-invalid': newPass.confirmPass.$invalid && newPass.confirmPass.$touched, 'is-valid': newPass.confirmPass.$valid && newPass.confirmPass.$touched }"
                                           ng-pattern="users.newPass"
                                           ng-minlength="6"
                                           ng-model="users.confirmPass"
                                           required>
                                    <small class="text-danger"
                                           ng-show="newPassForm.confirmPass.$touched && newPassForm.confirmPass.$error.required">
                                        Vui lòng nhập mật khẩu !
                                    </small>
                                    <small class="text-danger"
                                           ng-show="newPassForm.confirmPass.$error.minlength && newPassForm.confirmPass.$dirty">
                                        Mật khẩu cần ít nhất 6 ký tự.
                                    </small>
                                    <small class="text-danger"
                                           ng-show="newPassForm.confirmPass.$touched && newPassForm.confirmPass.$error.pattern">
                                        Xác nhận mật khẩu không khớp.
                                    </small>
                                </div>

                                <button type="submit" id="submit-button-newpass" class="signInButton">Xác nhận</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pe-lg-0 wow fadeIn" data-wow-delay="0.5s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <div class=" d-flex justify-content-center flex-column h-100">
                        <span>Bạn Chưa Có Tài Khoản ?</span>
                        <a href="#!/dang-ky" class="">Đăng Ký Ngay</a>
                        <div class="d-grid gap-2 d-md-block mt-3">
                            <span>Bạn Quên Mật Khẩu?</span>
                            <a href="#!/quen-mat-khau" class="">Tìm Lại Mật Khẩu</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row gx-0">
        <div class="col-lg-8 border-right"></div>
    </div>
</div>
<!-- Login Form End -->