<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Solar Bách Thịnh - Thể Loại</title>

    <div th:replace="~{views/admin/lib/link_lib}"></div>
</head>
<body>

<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">

    <!-- Sidebar Start -->
    <div th:replace="~{views/admin/components/aside}"></div>
    <!--  Sidebar End -->

    <div class="body-wrapper">
        <!--  Header Start -->
        <div th:replace="~{views/admin/components/header}"></div>
        <!--  Header End -->

         <div class="container-fluid" style="max-width: 1900px;">
            <div class="card">
                <div class="card-body">
                    <a class="btn btn-primary float-end" href="/quan-tri/the-loai/them-the-loai" role="button">
                        <i class="ti ti-file-plus"></i>Thêm thể loại mới
                    </a>
                    <h5 class="card-title fw-semibold mb-4 mt-2">Thể loại sản phẩm</h5>
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table" id="sortProductTypeList">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Tên thể loại</th>
                                        <th scope="col">Tên danh mục</th>
                                        <th scope="col">Trạng thái</th>
                                        <th scope="col" width="150px">Hành động</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="pd_types,start : ${product_types}">
                                        <td th:text="${start.index + 1}"></td>
                                        <td th:text="${pd_types.productTypeName}"></td>
                                        <td th:text="${pd_types.productCategoriesByCategoryId.categoryName}"></td>
                                        <td th:if="${pd_types.isActive == true}">
                                            <i class='bx bxs-circle' style='color:#3a9b54'></i> Đang hoạt động
                                        </td>
                                        <td th:if="${pd_types.isActive == false}">
                                            <i class='bx bxs-circle' style='color:#c71e1e'></i> Ngưng hoạt động
                                        </td>
                                        <td>
                                            <div class="btn-group" role="group">
                                                <a class="btn btn-warning ms-2"
                                                   th:href="@{/quan-tri/the-loai/sua-the-loai/{id}(id = ${pd_types.id})}"
                                                   role="button">Sửa</a>
                                                <a class="btn btn-danger ms-2"
                                                   href="javascript:void(0)"
                                                   role="button"
                                                   th:attr="onclick='confirmDelete(\'' + ${pd_types.id} + '\')'">Xoá</a>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{views/admin/lib/script_lib}"></div>

<script>
    function confirmDelete(id) {
        Swal.fire({
            title: 'Cảnh báo ?',
            text: "Bạn chắc chắn muốn xoá loại sản phẩm này không ?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Đồng ý !',
            cancelButtonText: 'Huỷ !'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/quan-tri/the-loai/xoa-the-loai/" + id;
            } else {
                return false;
            }
        })
    }
</script>

</body>
</html>