<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Solar Bách Thịnh - Thêm Thương Hiệu</title>
    <div th:replace="~{views/admin/lib/link_lib}"></div>
</head>
<body>

<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">

    <!-- Sidebar Start -->
    <div th:replace="~{views/admin/components/aside}"></div>
    <!--  Sidebar End -->

    <div class="body-wrapper">
        <!--  Header Start -->
        <div th:replace="~{views/admin/components/header}"></div>
        <!--  Header End -->

        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title fw-semibold mb-4 mt-2">Thêm thương hiệu mới</h5>
                    <div class="card">
                        <div class="card-body">
                            <form th:action="@{/quan-tri/danh-sach-thuong-hieu/them-thuong-hieu}" th:object="${productBrandsDto}" method="post"
                                  id="form-brand">
                                <div class="form-floating mb-3">
                                    <input type="text" th:value="${brandsIdValue}" class="form-control" readonly id="brandId" placeholder="...">
                                    <label for="brandId">Mã thương hiệu</label>
                                </div>

                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="brandName" th:field="*{brandName}" placeholder="...">
                                    <label for="brandName">Tên thương hiệu</label>
                                    <p id="brandNameError" class="invalid-feedback"></p>
                                </div>

                                <div class="form-floating mb-3">
                                    <input type="tel" class="form-control" id="phoneNumber" th:field="*{brandPhoneNumber}"  placeholder="..."
                                           maxlength="10">
                                    <label for="phoneNumber">Số điện thoại</label>
                                    <p id="phoneNumberError" class="invalid-feedback"></p>
                                </div>

                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="countryOfOrigin" th:field="*{countryOfOrigin}" placeholder="...">
                                    <label for="countryOfOrigin">Địa chỉ thương hiệu</label>
                                    <p id="countryOfOriginError" class="invalid-feedback"></p>
                                </div>

                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="websiteUrl" th:field="*{websiteUrl}" placeholder="...">
                                    <label for="websiteUrl">Website</label>
                                    <p id="websiteUrlError" class="invalid-feedback"></p>
                                </div>

                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="brandDescription" th:field="*{brandDescription}" placeholder="...">
                                    <label for="brandDescription">Chi tiết thương hiệu</label>
                                    <p id="brandDescriptionError" class="invalid-feedback"></p>
                                </div>

                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" value="Đang hoạt động" id="isStatusDelete"
                                           placeholder="..." readonly>
                                    <label for="isStatusDelete">Trạng thái</label>
                                </div>

                                <div class="row d-flex flex-column flex-md-row mt-3">
                                    <div class="col-md-6">
                                        <div class="d-grid gap-2 d-md-block">
                                            <button class="btn btn-success" id="submit-button-brand" type="submit">
                                                Thêm mới
                                            </button>
                                            <button type="reset" class="btn btn-primary">Làm mới</button>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                            <a href="/quan-tri/danh-sach-thuong-hieu" class="btn btn-danger" role="button">Trở
                                                về</a>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{views/admin/lib/script_lib}"></div>
<!--validate form brand front-end-->
<script src="/admin/assets/js/validation/validation-brand.js"></script>
</body>
</html>