<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Solar Lê Hùng - Đăng Nhập</title>

    <div th:replace="~{views/admin/lib/link_lib}"></div>
</head>

<body>
<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <div
            class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-md-8 col-lg-6 col-xxl-3">
                    <div class="card mb-0">
                        <div class="card-body">
                            <a href="/admin"
                               class="text-nowrap logo-img text-center d-block py-3 w-100">
                                <img src="/user/assets/img/LogoLeHung.jpg" width="120" alt="">
                            </a>
                            <p class="text-center">Quản Lý Cửa Hàng <a href="/admin" class="fw-bold">Solar Lê Hùng</a></p>

                            <form th:action="@{/admin/login}" method="post" role="form">
                                <div th:if="${error}">
                                    <p style="color: red;">Tài khoản hoặc mật khẩu không đúng !</p>
                                </div>

                                <div class="mb-3">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" class="form-control" name="username" id="email">
                                </div>

                                <div class="mb-4">
                                    <label for="password" class="form-label">Mật khẩu</label>
                                    <input type="password" class="form-control" name="password" id="password">
                                </div>

                                <div class="d-flex align-items-center justify-content-between mb-4">
                                    <div class="form-check">
                                        <input class="form-check-input primary" type="checkbox" id="flexCheckChecked">
                                        <label class="form-check-label text-dark" for="flexCheckChecked">
                                            Đăng nhập lần sau ?
                                        </label>
                                    </div>
                                    <a class="text-primary fw-bold text-decoration-none" href="/">
                                        <i class="fa-solid fa-arrow-left"></i>
                                        Quay về trang chủ
                                    </a>
                                </div>

                                <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">
                                    Đăng nhập
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{views/admin/lib/script_lib}"></div>

</body>
</html>