.dataTables_wrapper .dataTables_filter input {
    color: #333333;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 14px;
    margin-bottom: 20px;
    margin-left: 8px;
}

.dataTables_wrapper .dataTables_info{
    margin-top: 20px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    margin-top: 20px;
    border-radius: 50%;
    background: #FFFFFF !important;
    background: none;
    border: none;
}

.dataTables_wrapper .dataTables_length select {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 0 4px 0 4px;
}

table.dataTable {

}
