<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Solar Bách Thịnh - Lỗi 404</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <div th:replace="~{views/user/lib/link_lib}"></div>
</head>

<body>
<!-- Spinner Start -->
<div th:replace="~{views/user/components/spiner}"></div>
<!-- Spinner End -->


<!-- Topbar Start -->
<div th:replace="~{views/user/components/topbar}"></div>
<!-- Topbar End -->


<!-- Navbar Start -->
<div th:replace="~{views/user/components/navbar}"></div>
<!-- Navbar End -->


<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5">
    <div class="container py-5">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Lỗi 404</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-white" href="/trang-chu">Trang Chủ</a></li>
                <li aria-current="page" class="breadcrumb-item text-white active">Lỗi 404</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->


<!-- 404 Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <i class="bi bi-exclamation-triangle display-1 text-primary"></i>
                <h1 class="display-1">404</h1>
                <h1 class="mb-4">Trang không tồn tại</h1>
                <p class="mb-4">Rất tiếc, trang bạn tìm kiếm không tồn tại trên trang web của chúng tôi! Có thể đi đến
                    trang chủ của chúng tôi hoặc thử sử dụng tìm kiếm?</p>
                <a class="btn btn-primary rounded-pill py-3 px-5" href="/trang-chu">Quay về trang chủ !</a>
            </div>
        </div>
    </div>
</div>
<!-- 404 End -->

<!-- Footer Start -->
<div th:replace="~{views/user/components/footer}"></div>
<!-- Footer End -->

<!-- JavaScript Libraries -->
<div th:replace="~{views/user/lib/script_lib}"></div>
</body>

</html>