<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Solar Bách Thịnh - Cập Nhật Thể Loại</title>

    <div th:replace="~{views/admin/lib/link_lib}"></div>
</head>
<body>

<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">

    <!-- Sidebar Start -->
    <div th:replace="~{views/admin/components/aside}"></div>
    <!--  Sidebar End -->

    <div class="body-wrapper">
        <!--  Header Start -->
        <div th:replace="~{views/admin/components/header}"></div>
        <!--  Header End -->

        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title fw-semibold mb-4 mt-2">Cập nhật thê loại sản phẩm</h5>
                    <div class="card">
                        <div class="card-body">
                            <form id="edit-form"
                                  onsubmit="return validateForm()"
                                  th:action="@{'/quan-tri/the-loai/sua-the-loai/' + ${product_types.id}}"
                                  th:object="${product_types}"
                                  method="post"
                            >
                                <div class="form-floating mb-3">
                                    <input type="text"
                                           class="form-control"
                                           id="name-edit-product-type"
                                           th:value="${product_types.productTypeName}"
                                           name="productTypeName"
                                           placeholder="..."
                                    >
                                    <label for="name-edit-product-type">Tên thể loại sản phẩm</label>
                                    <span class="text-danger" id="invalid-name-product-type"></span>
                                </div>

                                <div class="form-floating mb-3">
                                    <select class="form-select" th:field="*{isActive}" id="active">
                                        <option value="1">Đang hoạt động</option>
                                        <option value="0">Ngưng hoạt động</option>
                                    </select>
                                    <label for="active">Trạng thái</label>
                                </div>

                                <div class="form-floating mb-3">
                                    <select class="form-select" id="province-edit-product-type"
                                            aria-label="Floating label select example" name="categoryId">>
                                        <option selected disabled hidden value="">Chọn Thể Loại Doanh mục</option>
                                        <option th:each="item : ${categories}"
                                                th:value="${item.id}"
                                                th:text="${item.categoryName}"
                                                th:selected="${item.id == product_types.categoryId}">
                                        </option>
                                    </select>
                                    <label for="province-edit-product-type">Thể Loại Doanh Mục</label>
                                </div>

                                <div class="row d-flex flex-column flex-md-row mt-3">
                                    <div class="col-md-6">
                                        <div class="d-grid gap-2 d-md-block">
                                            <button class="btn btn-success" type="submit" id="submitted-button">
                                                Cập nhật
                                            </button>
                                            <button type="reset" class="btn btn-primary">Làm mới</button>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                            <a href="/quan-tri/the-loai" class="btn btn-danger" role="button">Trở
                                                về</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{views/admin/lib/script_lib}"></div>

<script>
    function validateForm() {
        Swal.fire({
            title: 'Cảnh báo ?',
            text: "Bạn có chắc chắn muốn cập nhật thể loại sản phẩm không ?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Đồng ý !',
            cancelButtonText: 'Huỷ !'
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById('edit-form').submit();
            }
        });

        return false;
    }
</script>
<script src="/admin/assets/js/validation/validation-form-type-product.js"></script>
</body>
</html>