<script th:inline="javascript">
    var toastWarning = [[${session.toastWarning}]];

    const ToastWarning = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        didOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
        }
    })

    if (toastWarning) {
        ToastWarning.fire({
            icon: 'warning',
            title: toastWarning
        })
    }
</script>
<th:block th:text="${@sessionHelper.removeMessageFromSession('toastWarning')}"></th:block>